.game-page {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F000%2F273%2F920%2Flarge_2x%2Fdeep-ocean-background-vector.jpg&f=1&nofb=1&ipt=50d550a575673998475f3986902e716100634cd19c72ac6c96f9781e36d597bd&ipo=images"); /* Set the background image */
  background-size: cover; /* Cover the entire area while maintaining the aspect ratio */
  background-repeat: no-repeat; /* Prevent repeating */
  background-position: center; /* Center the image */
  min-height: 100vh; /* Ensure at least full viewport height */
  font-family: "Arial", sans-serif; /* Your preferred font */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange children in a column */
  align-items: center; /* Center align items */
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-behavior: smooth; /* Smooth scrolling */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the container takes the full viewport height */
}

.game-button {
  width: 10rem; /* Default larger size */
  height: 10rem; /* Default larger size */
  border-radius: 50%;
  border: none;
  display: inline-block;
  text-align: center;
  line-height: 5rem; /* Adjust this if you have text inside the button */
  cursor: pointer;
  vertical-align: middle;
  margin: 2%;
  background-color: #dfae14d1; /* Lighter teal for login */
  color: white;
  transition: width 0.3s, height 0.3s, background-color 0.3s, line-height 0.3s; /* Smooth transition for all properties */
}

.game-button:hover {
  width: 8rem; /* Smaller size on hover */
  height: 8rem; /* Smaller size on hover */
  line-height: 4rem; /* Adjust this if you have text inside the button */
  background-color: rgba(126, 102, 22, 0.82); /* Lighter teal for login */
  color: white;
}

.game-button:nth-child(odd) {
  margin-top: 60px; /* Adjust the value as needed */
}

.game-button:nth-child(even) {
  margin-top: 120px; /* Adjust the value as needed */
}

.leaderboard-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0; /* Add margin to separate from the button container */
  cursor: pointer;
  border-radius: 5px;
}