.course-view-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.course-details, .course-quiz {
  width: 48%; /* Adjust as needed */
}

.course-details {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course-name {
  font-weight: bold;
  font-size: 1.5em;
}

.course-level, .course-resources, .course-points {
  margin: 10px 0;
}

.course-resources a {
  color: #007bff;
  text-decoration: none;
}

.course-resources a:hover {
  text-decoration: underline;
}

.course-quiz {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}